<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="CSDL"
      connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=H:\CDF\ThuVien\Data\ThuVienCBL.mdf;Integrated Security=True;Connect Timeout=30"/>
  </connectionStrings>
  <appSettings>
      <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
    </appSettings>
  <system.web>
    <globalization fileEncoding="utf-8"/>
    <pages>
      <controls>
      </controls>
    </pages>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.6.1" executionTimeout="240" maxRequestLength="20480"/>
  </system.web>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
    </assemblyBinding>
  </runtime>
</configuration>
